 <div class="user-details">
  <h1> My Expertise </h1>
  <p>  부족하지만 노력하는 개발자가 되겠습니다. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>HTML/CSS/BOOTSTRAP/JAVASCRIPT 및 JSP SERVLET을 활용하여 MVC MODEL 2 자체 웹서비스 개발 경험이 있습니다.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
     <i class="devicon-java-plain-wordmark colored"></i>
      <p>JS 를 통한 웹페이지 기능 로직 처리/ C# AND DOT NET FRAMEWORK 기반의 WPF 어플리케이션 개발 경험 다수 보유/ C++를 통한 HOOKING 및 ALOGRITHM 개발
       / MYSQL 자체 데이터베이스 서버 운용 / PHP를 통한 웹 프로젝트 개인 개발 / C# 과 UNITY TOOL 을 활용한 간단한 게임 개발.</p>
    </div>
</div>
