<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="jake" src="{{ "/assets/img/jake.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> JAKE ESCAPE!! </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>C# 및 UNITY를 이용한 2D 게임 개발!</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="fanapp" src="{{ "/assets/img/fanapp2.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>가톨릭대학교 컴퓨터정보공학부 전공학회 FAN의 APPLICATION 개발 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>C# 및 DOT NET기반의 WPF 어플리케이션, MYSQL DB연동, SOCKET SERVER를 운용하여 단체 대화방 구현, 친구 추가 및 쪽지 기능 구현</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
